@tailwind base;
@tailwind components;
@tailwind utilities;

/* .grain-effect::before {
    content: '';
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png');
    background-size: 20%;
    height: 300%;
    width: 300%;
    position: fixed;
    opacity: 0.025;
    pointer-events: none;
    animation: animateGrain 8s steps(10) infinite;
    z-index: 1;
} */

html {
    position: relative;
}

@keyframes animateGrain {
    0%,
    100% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(-5%, -10%);
    }
    20% {
        transform: translate(-15%, -20%);
    }
    30% {
        transform: translate(-5%, -10%);
    }
    40% {
        transform: translate(-15%, -20%);
    }
    50% {
        transform: translate(-5%, -10%);
    }
    60% {
        transform: translate(-15%, -20%);
    }
    70% {
        transform: translate(-5%, -10%);
    }
    80% {
        transform: translate(-15%, -20%);
    }
    90% {
        transform: translate(-5%, -10%);
    }
    100% {
        transform: translate(-15%, -20%);
    }
}

@layer base {
    :root {
        --color-offwhite: 240, 240, 240;
        --color-offblack: 15, 15, 15;

        --color-bgr: var(--color-offwhite);
        --color-content: var(--color-offblack);
        --color-subtitle: 95, 95, 95;

        --color-secondary: 127, 127, 127, 0.2;
        --color-overlay: 0, 0, 0, 0.65;

        --color-acc1: 66, 133, 244;
        --color-acc2: 122, 60, 208;
        --color-acc3: 251, 188, 5;
        --color-acc4: 234, 67, 53;
        --color-acc5: 52, 168, 83;

        --gradient-acc1: linear-gradient(
            90deg,
            rgb(66, 133, 244),
            rgb(26, 90, 193)
        );
        --gradient-acc2: linear-gradient(
            90deg,
            rgb(122, 60, 208),
            rgb(160, 59, 214)
        );
        --gradient-acc3: linear-gradient(
            90deg,
            rgb(251, 188, 5),
            rgb(249, 151, 4)
        );
        --gradient-acc4: linear-gradient(
            90deg,
            rgb(234, 67, 53),
            rgb(207, 74, 30)
        );
        --gradient-acc5: linear-gradient(
            90deg,
            rgb(52, 168, 83),
            rgb(17, 126, 28)
        );
    }
    @media (prefers-color-scheme: dark) {
        :root {
            --color-bgr: var(--color-offblack);
            --color-content: var(--color-offwhite);
            --color-subtitle: 160, 160, 160;
            /* --color-overlay: 255, 255, 255, 0.3; */
        }
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

h1 {
    @apply text-content xl:text-8xl lg:text-7xl md:text-6xl sm:text-6xl text-5xl font-semibold select-none;
}

h2 {
    @apply text-content lg:text-6xl md:text-6xl sm:text-5xl text-4xl font-bold select-none;
}

h3 {
    @apply text-content lg:text-4xl md:text-3xl sm:text-2xl text-xl font-bold select-none;
}

h4 {
    @apply text-content xl:text-2xl lg:text-xl md:text-xl sm:text-xl text-lg font-light select-none;
}

h5 {
    @apply text-content lg:text-xl md:text-lg sm:text-lg font-light select-none;
}

p {
    @apply text-content text-base font-light select-none;
}
